
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1><%= params[:team][:name] %></h1>
    <h1>Team Motto: <%= params[:team][:motto] %></h1><br>
    <h1>Hero Name: <%= params[:team][:hero][0][:name] %></h1><br>
    <p>Hero Power: <%= params[:team][:hero][0][:power] %></p>
    <p>Hero Biography: <%= params[:team][:hero][0][:biography] %></p><br>

  
    <h1>Hero Name: <%= params[:team][:hero][1][:name] %></h1><br>
    <p>Hero Power: <%= params[:team][:hero][1][:power] %></p>
    <p>Hero Biography: <%= params[:team][:hero][1][:biography] %></p><br>

    <h1>Hero Name: <%= params[:team][:hero][2][:name] %></h1><br>
    <p>Hero Power: <%= params[:team][:hero][2][:power] %></p>
    <p>Hero Biography: <%= params[:team][:hero][2][:biography] %></p><br>
  </body>
</html>
